@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap%27');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3D88BE;
}

main {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.nomeProjeto {
    font-family: 'Iceland', cursive;
    font-style: normal;
    font-weight: normal;
    color: white;
    font-size: 80px;
    line-height: 78px;
    height: 150px;
}


.input_nomeU {
    display: flex;
    background: #3D88BE;
    border-radius: 10px;
    border: 1px solid #085E79;
    width: 512px;
    height: 74px;
    margin: 30px 0;
    padding-left: 10px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.input_senha {
    display: flex;
    background: #3D88BE;
    border-radius: 10px;
    border: 1px solid #085E79;
    width: 512px;
    height: 74px;
    margin-bottom: 30px;
    padding-left: 10px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.botao {
    display: flex;
    align-items: center;
    background: #3D88BE;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    width: 512px;
    height: 74px;
    left: 464px;
    top: 338px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #FFFFFF;
}

::placeholder { 
    color: white;
    opacity: 1; 
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }